.navigation {
    max-width: 320px;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* padding: 0;
    align-items: center;
    justify-content: flex-start;
    margin: 0; */
}

.navigation-list-item {
    list-style: none;
    height: 64px;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer
}

.info {
    white-space: pre-line;
}