.main {
    position: relative;
}

.mainsection {
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 88px);
}

.page-wrapper {
    margin: auto;
}

