.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
}

.image {
    width: 480px;
    height: 240px;
}

.information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.data {
    white-space: pre-line;
    text-align: center;
    display: block;
}

.name {
    text-align: center;
}
.value {
    display: block;
}