.burger-ingredients  {
    width: calc((100% - 40px) / 2);
}

.tabs {
    width: 100%;
    display: flex;
}

.tabs > div {
    min-width: 100px;
    width: 100%;
}

.ingredients {
    max-height: calc(100vh - 336px);
    overflow-y: overlay;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-thumb {
    border-radius: 0;
    border: none;
}

.ingredient-type:not(:last-of-type) {
    margin-bottom: 40px;
}

.ingredient-cards {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    box-sizing: border-box;
}


.type-name {
    display: block;
}